@font-face {
   	font-family: Kurale;
    src: url(fonts/Kurale.ttf);
}

.txt1 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 600px;
	height: 400px;
	resize: none;
	font-family: kurale;
	font-weight: bold;
	font-size: 18px;
}

.txt2 {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 600px;
	height: 400px;
	resize: none;
	font-family: kurale;
	font-weight: bold;
	font-size: 18px;
}

.v1 {
	position: absolute;
	top: 0px;
	right: 280px;
}

.v2 {
	position: absolute;
	top: 0px;
	left: 280px;
}

body {
	font-family: kurale;
	font-weight: bold;
	font-size: 18px;
}

button {
	position: absolute;
	bottom: 95px;
	width: 200px;
	height: 35px;
	font-family: kurale;
	font-size: 18px;
	font-weight: bold;
	border-radius: 20px;
	left: 50px;
}